<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Layout</title>
    <! -- KaTeX Dependencies -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"></script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    {% if page.css %}
        <link rel="stylesheet" href="{{ '/assets/css/' | append: page.css | append: '.css' | relative_url }}" />
    {% else %}
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
    {% endif %}
</head>
<body>
    <div class="content">
        {{ content }}
    </div>
</body>
</html>