[submodule "reveal.js"]
	path = assets/reveal.js
	url = https://github.com/hakimel/reveal.js.git

# Temporarily removed - features not being implemented now
# [submodule "src/socrates"]
# 	path = src/socrates
# 	url = https://github.com/cosmosclassroom/socrates.git
