

<footer>
    <div class = "footer">
        <div id="Home" class = "flex-center flex-column">
            <h3>Home</h3>
            <p> 2025 Cosmos in the Classroom</p>
        </div>
    </div>
    footer {
            background-color: <div id="ec5ff"></div>;
            padding: 10px;
            text-align: center;
            font-size: 62.5%;
        }
    
        <p></p>2025 Cosmos in the Classroom</p>
        <p>Content available under Open MIT License</p>

    </div>
    
    <nav>
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/section">Section</a></li>
            <li>Current Page</li>
        </ul>
    </nav>
</footer>
</html>
