.icon {
  width: 48px;
  height: 48px;
  fill: currentColor;
  vertical-align: middle;
}

.mini-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: middle;
  margin-right: 4px;
}