<!-- _layouts/page.html -->
---
title: Page
layout: default
---

<html><article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="page-content">
    {{ content }}
  </div>
</article> 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 
 <h1> This is the heading of this page</h1>
 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes the title of the page and the content of the page. The content of the page is inserted into the layout using the  content  variable. 
 The  page.html  layout is used to render the content of a page. It includes

 </html>